<div class="row">
  <div class="col-4" *ngFor="let character of characters | paginate: { itemsPerPage: 9, currentPage: page, totalItems: totalItems }">
    <div class="card mb-3">
      <a [routerLink]="['/character/details', character.id]">
        <img src="{{getImageUrl(character)}}" class="card-img-top" alt="{{character.name}}" />
      </a>
      <div class="card-body">
        <a [routerLink]="['/character/details', character.id]">
          <h5 class="card-title">{{character.name}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="m-auto">
    <pagination-controls (pageChange)="pageChange($event)" previousLabel="Ant" nextLabel="Próx"></pagination-controls>
  </div>
</div>