<div class="row">
  <div class="col-4" *ngFor="let favorite of favorites">
    <div class="card mb-3">
      <a href="javascript:void(0)" [routerLink]="['/character/details', favorite.id]">
        <img src="{{getImageUrl(favorite.thumbnail)}}" class="card-img-top" alt="{{favorite.name}}" />
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a href="javascript:void(0)" [routerLink]="['/character/details', favorite.id]">{{favorite.name}} </a>
          <i *ngIf="isFavorite(favorite.id) === false" class="fa fa-star-o"></i>
          <a href="javascript: void(0);" (click)="removeFavorite(favorite.id)">
            <i *ngIf="isFavorite(favorite.id) === true" class="fa fa-star" style="color: orange"></i>
          </a>
        </h5>
      </div>
    </div>
  </div>
</div>